<div class="ticket">
  <h1>What is this app about ?</h1>
  <p>Did you ever feel bored and went on Facebook or YouTube just because you didn't know what else to do ? 
  Or even because you didn't even try to thing about anything else to do ?
  Yeah, so did I. In fact, this happen to me so often that it’s almost become a reflex.<br/>
  And I don’t like that.</p>

  <p>I actually have many things I enjoy doing : reading a book, listening to a podcast… 
  But when I have time to do one of these, I suddenly forget about them and go back to this habit of watching YouTube videos.</p>

  <p>I created WatnoW as a way for me to remember all this small activities I enjoy doing when the time comes.
  When I feel like I have time, I pop-up WatnoW and it suggests something to do, breaking the never ending circle of 
  switching between  social medias.</p> 

  <p>You can create your own cards to add activities you want to see suggested to you.
  Assign a “type” to them so they will pop up with nice colors.</p>

  <h2>Share this app !</h2>
  <%= image_tag("qr-code.png", size: "200x200", alt: "WatnoW QR-Code", class: "rounded mx-auto d-block") %>
  <center><small class="text-muted"><em>Share this QR-code</em></small></center>
  <h2>Privacy</h2>

  <p>No data will be given to any third party, but be aware : <em>none of those are encrypted</em>. If this app is hacked, every single card you created will potentially be exposed, so don’t store any sensitive information here. You’ve been warned. 
</div>