
<div class="ticket ticket-mood-<%= card.mood.downcase %> d-flex px-4 align-items-center">
  <% if card.content.empty? %>
    <h1><%= card.title %></h1>
  <% else %>
    <div>
      <h3><%= card.title %></h3>
      <p><%= card.content %></p>
    </div>
  <% end %>
</div> 