<h1>New Card</h1>

<% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
<%end%>

<div class="alert alert-warning">Do <u>not</u> give any personnal info here.</div>
<%= render 'form', card: @card %>

<%= link_to 'Back', root_url, class: "btn btn-dark", style: "margin: 15px;" %>
