/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body {
  height: 100%;
 }

 main { 
   background: #eaeaea;
   min-height: 100%;
 }

.row:last-child {
  position: fixed;
  bottom: 0;
  width: 100%
}

 .ticket {
   border-radius: 10px;
   background: white;
   box-shadow: 0px 0px 7px grey;
   padding: 10px;
   min-height: 50vh !important;
 }

.ticket p {
  text-align: justify;
  padding: 10px; 
  }

 .ticket-mood-fun {
   background: #ff8f00;
   color:white;
 }
 .ticket-mood-serious {
  background: #571845;
  color: whitesmoke;
 }
 .ticket-mood-proactive {
  background: #3E6990;
  color: whitesmoke;
}
.ticket-mood-interesting {
  background: #59c2a7;
  color:white;
}
.ticket-mood-empowering {
  background: #900c3e;
  color: whitesmoke;
}

nav {
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px grey;
}

.fab {
  width: 70px;
  height: 70px;
  background-color: #43997F;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 darkgrey;
  transition: all 0.1s ease-in-out;

  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 70px;

  position: fixed;
  right: 40px;
  bottom: 40px;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}

a.fab:hover {
  text-decoration: none !important;
  color: ghostwhite !important;
}